<div class="visual">

    <div class="button" id="button">
        <img src="/img/regadera.png" class="regadera" alt="">
    </div>

    <div class="astroAnim" id="sunAnim">
    </div>

    <div class="astroAnim" id="moonAnim">
    </div>

    <div class="regar" id="regar">
    </div>

    <div class="plantAnim" id="plantAnim">
        <div class="backg">
        </div>
        <div class="tiempo" id="tiempo">
        </div>
    </div>

</div>
<div style="position: absolute; left: 85%; top: 20%;">
    <a href="https://plantica.onrender.com/" target="_blank" class="links" id="baseDatos">OBTENER DATOS</a>
    <div class="links" id="borrar">REFRESCAR</div>
</div>
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank" class="links" id="KILL">KILL</a>

<script>
    document.getElementById('sunAnim').style.display = 'none'
    document.getElementById('moonAnim').style.display = 'none'
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.10.1/lottie.min.js" type="text/javascript"></script>
<script src="../javascript/animaciones.js"></script>
<script src="../javascript/buttonControl.js"></script>
<script src="../javascript/refresh.js"></script>