<div class="visual">

    <div class="button" id="button">
        <img src="/img/regadera.png" class="regadera" alt="">
    </div>

    <div class="astroAnim" id="sunAnim">
    </div>

    <div class="astroAnim" id="moonAnim">
    </div>

    <div class="regar" id="regar">
    </div>

    <div class="plantAnim" id="plantAnim">
        <div class="backg">
        </div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.10.1/lottie.min.js" type="text/javascript"></script>

<script>

    let sunAnim = document.getElementById('sunAnim');
    let plantAnim = document.getElementById('plantAnim');
    let regar = document.querySelector('.regar');
    let backg = document.querySelector('.backg');
    let moonAnim = document.getElementById('moonAnim');

    var animation = bodymovin.loadAnimation({
        container: sunAnim, // Required
        path: 'https://assets9.lottiefiles.com/private_files/lf30_Um0Z9o.json', // Required
        renderer: 'svg', // Required
        loop: true, // Optional
        autoplay: true, // Optional
        name: "sun", // Name for future reference. Optional.
    })

    var animation = bodymovin.loadAnimation({
        container: moonAnim, // Required
        path: 'https://assets7.lottiefiles.com/packages/lf20_6y2od13d.json', // Required
        renderer: 'svg', // Required
        loop: true, // Optional
        autoplay: true, // Optional
        name: "moonAnim", // Name for future reference. Optional.
    })

    var animation = bodymovin.loadAnimation({
        container: plantAnim, // Required
        path: 'https://assets1.lottiefiles.com/packages/lf20_xd9ypluc.json', // Required
        renderer: 'svg', // Required
        loop: false, // Optional
        autoplay: true, // Optional
        name: "plant", // Name for future reference. Optional.
    })

    var animation = bodymovin.loadAnimation({
        container: backg, // Required
        path: 'https://assets10.lottiefiles.com/packages/lf20_k6ckuttb.json', // Required
        renderer: 'svg', // Required
        loop: false, // Optional
        autoplay: true, // Optional
        name: "backg", // Name for future reference. Optional.
    })

    var animation = bodymovin.loadAnimation({
        container: regar, // Required
        path: 'https://assets9.lottiefiles.com/packages/lf20_fhxk8c44.json', // Required
        renderer: 'svg', // Required
        loop: true, // Optional
        autoplay: true, // Optional
        name: "regar", // Name for future reference. Optional.
    })

</script>

    <%- include('visualControl') %>