body{
    font-family: 'Rubik', sans-serif;
}


.animaciones{
    margin: 1px;
    width: 350px;
    height: 350px;
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -175px;
    margin-left: -175px;
}
.sunAnim{
    width: 60%;
    height: 60%;
    background-color: transparent;
    position: absolute;
    left: 100%;
    top: 0;
    margin-top: -15%;
    margin-left: -45%;
}

.plantAnim{
    width: 60%;
    height: 60%;
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-top: -60%;
    margin-left: -30%;
}