#main-container{
    margin-top: 20px;
    margin-left: 50px;
    width: 600px;
    bottom: 100px;
    text-align: center;
}

table{
    background-color: white;
    text-align: center;
    border-collapse: collapse;
    width: 200%;
}

th, td{
    border: solid 1px black;
    padding: 20px;
}

thead{
    background-color:rgba(37, 24, 155, 0.281);
    border-bottom: solid 5px;
}

tr:nth-child(even){
    background-color:rgb(200, 228, 228);
}

tr:hover td{
    background-color:rgb(108, 194, 235);
    color: black;
}

